<header class="site_header" ref="headerMain">
    <div class="container">
        <div class="header-icon header-icon-services">
            <a href="javascript:;" class="inner">
                <tw-img default-src="[[IMG_PATH]]icon-service.png"></tw-img>
            </a>
        </div>
        <div class="logo">
            <a href="javascript:;" class="inner">
                <tw-img default-src="[[IMG_PATH]]logo.png"></tw-img>
            </a>
        </div>
        <div class="header-icon header-icon-user">
            <a href="javascript:;" class="inner" @click="handleUserClick">
                <tw-img default-src="[[IMG_PATH]]icon-user.png"></tw-img>
            </a>
        </div>
    </div>
</header>