.gotop {
    @include fixed($R:set-vw(16));
    bottom: calc((var(--wapfootermenuitem-height)) * 1px + (set-vw(30) + set-vw(20) + set-vw(20)));
    z-index: 98;
    width: set-vw(116);
    height: set-vw(116);
    border-radius: 50%;

    @extend %btn-active-effect;
    @extend %btn-hover-effect;
}